---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">I try to keep this list updated manually, but you can also check my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> or by searching for <a href="https://ui.adsabs.harvard.edu/search/p_=0&q=%20author%3A%22Rodriguez-Segovia%22&sort=date%20desc%2C%20bibcode%20desc">"Rodriguez-Segovia"</a> in the author field of the ADS.</a></div>
{% endif %}

{% include base_path %}

<script src="https://bibbase.org/show?bib=https://raw.githubusercontent.com/nrsegovia/nrsegovia.github.io/refs/heads/master/files/my_papers.bib&jsonp=1"></script> 

