{% extends "base.html" %}

{% block nav_content %}
  <li><a href="#education">Education</a></li>
  <li><a href="#skills">Skills</a></li>
  <li><a href="#teaching">Teaching</a></li>
  <li><a href="#conf">Conferences</a></li>
  <li><a href="#awards">Awards</a></li>
{% endblock %}

{% block content %}
  <h1>Curriculum Vitae</h1>

  <div id="education">
    <h2>Education</h2>
    <p>Lorem **ipsum** `dolor` sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel bibendum consectetur, nisl nisi aliquam eros, eget tincidunt nisl nunc eget massa.</p>
  </div>

  <div id="skills">
    <h2>Skills</h2>
    <p>Phasellus consectetur, nibh eget bibendum dapibus, nisi nibh aliquam eros, vel bibendum odio nisl eget nibh. Nullam euismod, nisi vel bibendum consectetur, nisl nisi aliquam eros, eget tincidunt nisl nunc eget massa.</p>
  </div>

  <div id="teaching">
    <h2>Teaching</h2>
    <p>Sed euismod, nulla sit amet aliquam lacinia, nisl nisl aliquam nisl, nec aliquam nisl nisl sit amet nisl. Nullam euismod, nisi vel bibendum consectetur, nisl nisi aliquam eros, eget tincidunt nisl nunc eget massa.</p>
  </div>

  <div id="conf">
    <h2>Conferences</h2>
    <p>Sed euismod, nulla sit amet aliquam lacinia, nisl nisl aliquam nisl, nec aliquam nisl nisl sit amet nisl. Nullam euismod, nisi vel bibendum consectetur, nisl nisi aliquam eros, eget tincidunt nisl nunc eget massa.</p>
  </div>

  <div id="awards">
    <h2>Awards</h2>
    <p>Sed euismod, nulla sit amet aliquam lacinia, nisl nisl aliquam nisl, nec aliquam nisl nisl sit amet nisl. Nullam euismod, nisi vel bibendum consectetur, nisl nisi aliquam eros, eget tincidunt nisl nunc eget massa.</p>
  </div>
{% endblock %}